@font-face {
  font-family: Fraunces Variablefont Soft Wonk Opsz Wght;
  src: url('../images/') format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --fonts--body-text: "Gothic A1", sans-serif;
  --colors--black: #1a1a1a;
  --fonts--heading: "Fraunces Variablefont Soft Wonk Opsz Wght", Georgia, sans-serif;
  --colors--aqua: #c8f4f2;
  --colors--white: white;
  --colors--peach: #ffd9b2;
  --colors--lemon: #fbfac2;
  --colors--bubblegum: #fdcccc;
  --colors--lavender: #d7c3fe;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

body {
  font-family: var(--fonts--body-text);
  color: var(--colors--black);
  font-size: 18px;
  line-height: 130%;
}

h1 {
  font-family: var(--fonts--heading);
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 100px;
  font-weight: 400;
  line-height: 95%;
}

h2 {
  font-family: var(--fonts--heading);
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 60px;
  font-weight: 500;
  line-height: 130%;
}

h3 {
  font-family: var(--fonts--heading);
  margin-top: 20px;
  margin-bottom: 32px;
  font-size: 32px;
  font-weight: 400;
  line-height: 130%;
}

a, a:hover, a:visited {
  color: var(--colors--black);
  text-decoration: none;
}

.hero-section {
  max-width: 100%;
  display: flex;
}

.container {
  max-width: 1300px;
}

.nav-bar {
  mix-blend-mode: difference;
  background-color: #fff0;
  position: fixed;
  inset: 0% 0% auto;
}

.hero-content {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  background-color: var(--colors--aqua);
  text-align: center;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding-left: 64px;
  padding-right: 64px;
  display: flex;
}

.hero-image {
  object-fit: cover;
  width: 50%;
  height: 100%;
}

.section {
  padding: 32px 64px;
}

.section.top-section {
  margin-top: 60px;
}

.heading {
  font-variation-settings: "wght" 400, "opsz" 100, "WONK" 1;
}

.text-large {
  font-family: var(--fonts--body-text);
  font-size: 24px;
  font-weight: 400;
  line-height: 140%;
}

.button-primary {
  background-color: var(--colors--black);
  border-radius: 999px;
  padding: 16px 24px;
  transition: background-color .4s;
}

.button-primary:hover {
  background-color: #1a1a1ab3;
}

.button-primary.left-icon {
  display: flex;
}

.nav-link {
  color: var(--colors--white);
  text-underline-offset: 2px;
  font-size: 14px;
  -webkit-text-decoration: underline #fff0;
  text-decoration: underline #fff0;
  text-decoration-thickness: 1px;
  transition: opacity .2s, text-decoration-color .3s, text-underline-offset .3s;
}

.nav-link:hover {
  color: var(--colors--white);
  text-underline-offset: 7px;
  text-decoration: underline;
  -webkit-text-decoration-color: var(--colors--white);
  text-decoration-color: var(--colors--white);
  text-decoration-thickness: 1px;
}

.nav-link.w--current {
  color: var(--colors--white);
  text-decoration: underline;
}

.nav-logo {
  font-family: var(--fonts--heading);
  color: var(--colors--white);
  padding-top: 17px;
  font-size: 32px;
}

.text-center {
  text-align: center;
}

.about-grid {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-rows: minmax(802px, 1fr) auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: stretch;
}

.about-content {
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 60px;
  display: flex;
}

.bg-color-peach {
  background-color: var(--colors--peach);
}

.round-corners {
  border-radius: 32px;
}

.text-huge {
  font-family: var(--fonts--heading);
  text-align: center;
  overflow-wrap: anywhere;
  margin-bottom: 24px;
  font-size: 100px;
  line-height: 95%;
}

.text-label {
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  line-height: 150%;
}

.padding-small {
  padding: 40px;
}

.bg-color-lemon {
  background-color: var(--colors--lemon);
}

.home-projects-item-grid {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1.5fr;
  grid-auto-columns: 1fr;
  justify-items: stretch;
  display: flex;
  position: relative;
}

.home-projects-item-grid:nth-child(2n) {
  flex-flow: row-reverse;
}

.frame-cover {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.text-medium {
  font-family: var(--fonts--body-text);
  font-size: 18px;
  font-weight: 400;
  line-height: 130%;
}

.home-projects-info {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-flow: column;
  align-items: flex-start;
  padding: 40px;
  display: flex;
  position: sticky;
  top: 60px;
}

.collection-list {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  flex-flow: column;
  padding-bottom: 30px;
  display: flex;
}

.text-link {
  color: var(--colors--black);
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
}

.div-block {
  text-align: center;
}

.home-projects-image {
  max-width: 62%;
}

.project-page-card {
  width: 100%;
  height: 600px;
  position: relative;
  overflow: hidden;
}

.projects-page-image {
  object-fit: cover;
  object-position: 50% 50%;
  width: 100%;
  height: 100%;
  display: block;
}

.projects-page-image.round-corners {
  height: 600px;
}

.project-card-heading {
  color: var(--colors--white);
}

.project-page-overlay {
  background-image: linear-gradient(180deg, #1a1a1a00 70%, var(--colors--black));
  opacity: 0;
  flex-flow: column-reverse;
  justify-content: space-between;
  align-items: flex-start;
  padding: 48px;
  transition: opacity .3s;
  display: flex;
  position: absolute;
  inset: 0%;
}

.project-page-overlay:hover {
  opacity: 100;
}

.link-block {
  height: 100%;
}

.project-category {
  color: var(--colors--white);
  background-color: #1a1a1a80;
  border-radius: 999px;
  padding: 9px 22px;
}

.project-card-tags {
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  display: flex;
}

.project-arrow {
  aspect-ratio: 1;
  background-color: #1a1a1a80;
  border-radius: 999px;
  justify-content: center;
  align-items: center;
  height: 100%;
  display: flex;
}

.collection-list-2 {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.collection-item {
  height: 600px;
}

.sub-page-h1 {
  margin-bottom: 80px;
}

.project-case-study-info {
  grid-template-rows: auto;
  grid-template-columns: 1.5fr 1fr .5fr;
}

.projects-case-study-info-wrapper {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-flow: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  display: flex;
}

.text-lable {
  font-weight: 600;
}

.case-study-img-grid {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.project-case-study-img {
  object-fit: cover;
  width: 100%;
  height: 800px;
}

.testmonial-slide-content {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-left: 72px;
  padding-right: 72px;
  display: flex;
}

.testmonial-slider {
  background-color: #fccdcd;
  background-image: url('../images/Diamond.svg');
  background-position: 50%;
  background-size: auto;
  height: 767px;
}

.h2 {
  font-family: var(--fonts--heading);
  font-size: 60px;
  line-height: 130%;
}

.h2.text-center {
  width: 100%;
  max-width: 850px;
  margin-top: 80px;
}

.testmonial-person-wrapper {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  justify-content: flex-start;
  align-items: center;
  margin-top: 60px;
  display: flex;
}

.testmonial-img {
  border: 2px solid var(--colors--black);
  border-radius: 999px;
  width: 57px;
  height: 57px;
}

.testmonial-person-info-text {
  line-height: 150%;
}

.testmonial-person-info-text.text-bold {
  font-weight: 700;
}

.testmonial-h2 {
  font-family: var(--fonts--body-text);
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  line-height: 150%;
}

.testmonial-slider-arrow {
  padding-right: 80px;
}

.testmonial-slider-arrow.left-arrow {
  transform: rotate(180deg);
}

.slider-arrow-wrapper {
  justify-content: center;
  align-items: center;
  width: auto;
  display: flex;
}

.testmonial-slider-nav {
  display: none;
}

#w-node-_89de8f7c-ef38-d48e-7fcd-aad1a1787398-e1cb0ac4, #w-node-_89de8f7c-ef38-d48e-7fcd-aad1a17873a0-e1cb0ac4 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-af6ef97d-e9c3-2fd1-508a-3a6ca0526c7e-e1cb0ac4 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: start;
}


@font-face {
  font-family: 'Fraunces Variablefont Soft Wonk Opsz Wght';
  src: url('../images/') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}