@font-face {
  font-family: Fraunces Variablefont Soft Wonk Opsz Wght;
  src: url('../images/') format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --fonts--body-text: "Gothic A1", sans-serif;
  --colors--black: #1a1a1a;
  --fonts--heading: "Fraunces Variablefont Soft Wonk Opsz Wght", Georgia, sans-serif;
  --colors--aqua: #c8f4f2;
  --colors--white: white;
  --colors--peach: #ffd9b2;
  --colors--lemon: #fbfac2;
  --colors--bubblegum: #fdcccc;
  --colors--lavender: #d7c3fe;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

body {
  font-family: var(--fonts--body-text);
  color: var(--colors--black);
  font-size: 18px;
  line-height: 130%;
}

h1 {
  font-family: var(--fonts--heading);
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 100px;
  font-weight: 400;
  line-height: 95%;
}

h2 {
  font-family: var(--fonts--heading);
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 60px;
  font-weight: 500;
  line-height: 130%;
}

h3 {
  font-family: var(--fonts--heading);
  margin-top: 20px;
  margin-bottom: 32px;
  font-size: 32px;
  font-weight: 400;
  line-height: 130%;
}

.hero-section {
  max-width: 100%;
  display: flex;
}

.container {
  max-width: 1300px;
}

.nav-bar {
  background-color: #fff0;
  position: fixed;
  inset: 0% 0% auto;
}

.hero-content {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  background-color: var(--colors--aqua);
  text-align: center;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding-left: 64px;
  padding-right: 64px;
  display: flex;
}

.hero-image {
  object-fit: cover;
  width: 50%;
  height: 100%;
}

.section {
  padding: 32px 64px;
}

.heading {
  font-variation-settings: "wght" 400, "opsz" 100, "WONK" 1;
}

.text-large {
  font-family: var(--fonts--body-text);
  font-size: 24px;
  font-weight: 400;
  line-height: 140%;
}

.button-primary {
  background-color: var(--colors--black);
  border-radius: 999px;
  padding: 16px 24px;
  transition: background-color .4s;
}

.button-primary:hover {
  background-color: #1a1a1ab3;
}

.nav-link {
  text-underline-offset: 0px;
  font-size: 14px;
  text-decoration-color: #2220;
  text-decoration-thickness: 1px;
  transition: opacity .2s, text-decoration-color .3s, text-underline-offset .3s;
}

.nav-link:hover {
  text-underline-offset: 7px;
  text-decoration: underline;
  -webkit-text-decoration-color: var(--colors--black);
  text-decoration-color: var(--colors--black);
  text-decoration-thickness: 1px;
}

.nav-logo {
  font-family: var(--fonts--heading);
  color: var(--colors--white);
  padding-top: 17px;
  font-size: 32px;
}

.text-center {
  text-align: center;
}

.about-grid {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-rows: minmax(802px, 1fr) auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: stretch;
}

.about-content {
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 60px;
  display: flex;
}

.bg-color-peach {
  background-color: var(--colors--peach);
}

.round-corners {
  border-radius: 32px;
}

.text-huge {
  font-family: var(--fonts--heading);
  text-align: center;
  overflow-wrap: anywhere;
  margin-bottom: 24px;
  font-size: 100px;
  line-height: 95%;
}

.text-label {
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  line-height: 150%;
}

.padding-small {
  padding: 40px;
}

.bg-color-lemon {
  background-color: var(--colors--lemon);
}

.home-projects-item-grid {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1.5fr;
  grid-auto-columns: 1fr;
  justify-items: stretch;
  display: grid;
}

.frame-cover {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.text-medium {
  font-family: var(--fonts--body-text);
  font-size: 18px;
  font-weight: 400;
  line-height: 130%;
}

.home-projects-info {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-flow: column;
  align-items: flex-start;
  padding: 40px;
  display: flex;
}

.collection-list {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  flex-flow: column;
  padding-bottom: 30px;
  display: flex;
}

.text-link {
  color: var(--colors--black);
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
}

.div-block {
  text-align: center;
}

#w-node-_89de8f7c-ef38-d48e-7fcd-aad1a1787398-e1cb0ac4, #w-node-_89de8f7c-ef38-d48e-7fcd-aad1a17873a0-e1cb0ac4 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-af6ef97d-e9c3-2fd1-508a-3a6ca0526c7e-e1cb0ac4 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: start;
}


@font-face {
  font-family: 'Fraunces Variablefont Soft Wonk Opsz Wght';
  src: url('../images/') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}